.git
.github
.idea
.phpunit.cache
.phpunit.result.cache
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail
bootstrap/cache/*
.env
.env.*
!.env.example
Dockerfile
compose.yaml
README.md
docs
